*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle/
/.flutter_module_wrapper/android/.gradle/
/flutter_module_wrapper/.dart_tool/
/.gradle/8.4/
